# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environment
env/
venv/

# Django specific
*.sqlite3
db.sqlite3

# Secrets
.env
gcs-key.json
convert-to-json.py
check_claud_key.py

# VSCode / IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
